<main role="main" class="main-banner" id="blog-banner">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Latest Blog Posts</h1>
      <p>Stay Up To Date With The Latest News At TSB Properties!</p>
    </div>
  </div>
  </main>

<div class="container">
  <% if @posts.empty? %>
    <p> No Posts To Display. </p>
  <% else %>
    <% @posts.each do |post| %>
    <div class="row">
      <div class="col">
        <h2><%= post.title %></h2>
        <p><%= sanitize post.summary%></p>
        <%= link_to "Read More", post_path(post), class: "btn btn-success" %>
        <hr />
      </div>
    </div>
    <% end %>
  <% end %>
</div>
