// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#notifications {
  display: none;
}

body {
  padding-top: 56px;
}

.img-circle {
    border-radius: 50%;
}

#home-banner .jumbotron {
  background: image-url("banners/home.jpg") no-repeat center center;
  background-size: cover;
}

#blog-banner .jumbotron {
  background: image-url("banners/blog.jpg") no-repeat center center;
  background-size: cover;
}

.main-banner .jumbotron {
  h1, p {
    color: #fff;
    text-shadow: 1px 1px 2px #777;
  }
}
